* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 5px 15px;
}

p {
    line-height: 30px;
}

img {
    width: 100%;
}

body {
    position: relative;
}

header {
    background-color: #086BF2;
    height: 75px;
    display: flex;
    align-items: center;
}

header nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .menu {
    display: flex;
    align-items: center;
}

header nav img {
    width: 100px;
    margin-right: 20px;
}

header nav .menu .option {
    overflow: hidden;
    position: relative;
}

header nav .menu .option a {
    padding: 0 20px;
    color: #A6C4FC;
    transition: .3s;
}

header nav .menu .option:hover .first {
    transform: translateY(-30px);
}

header nav .menu .option .hover {
    visibility: hidden;
    position: absolute;
    bottom: -50px;
    left: 0;
    color: white;
}

header nav .menu .option:hover .hover {
    visibility: visible;
    transform: translateY(-50px);
}

header nav .sign {
    display: flex;
    align-items: center;
    color: #A6C4FC;
}

header nav .sign a {
    padding: 0 10px;
    transition: .3s;
}

header nav .sign a:hover {
    color: white;
}

header nav .sign .sign-up {
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

header nav .sign .sign-up a {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 15px;
    margin-left: 10px;
}

header nav .sign .sign-up:hover .first {
    transform: translateY(-60px);
}

header nav .sign .sign-up .hover {
    visibility: hidden;
    position: absolute;
    bottom: -50px;
    left: 0;
    color: white;
    background-color: black;
}

header nav .sign .sign-up:hover .hover {
    visibility: visible;
    transform: translateY(-50px);
}


.cover {
    background-color: #086BF2;
    color: white;
    padding-top: 75px;
    text-align: center;
    position: relative;
    height: 570px;
}

.cover .description h1{
    font-size: 65px;
}

.cover .description p{
    width: 50%;
    margin: 15px auto;
    font-size: 18px;
}

.cover .items {
    background-color: white;
    color: black;
    width: 85%;
    position: absolute;
    bottom: -50%;
    left: 7.5%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.cover .items .item {
    border-radius: 20px;
    border: 1px solid #E5E5E6;
    margin: 15px 0;
    width: 32%;
    height: 240px;
    text-align: left;
    padding: 25px;
    transition: .3s;
}

.cover .items .item:hover {
    border-color: #086BF2;
}

.cover .items .item i {
    font-size: 36px;
    color: #086BF2;
    margin: 15px 0;
}

.cover .items .item h2 {
    font-size: 25px;
    margin: 15px 0;
}

.cover .items .item p {
    color: #616161;
    font-size: 18px;
}

.tools {
    position: fixed;
    width: 45px;
    height: 195px;
    z-index: 100;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px 0 0 8px;
    border: 1px solid lightgray;
    border-right: none;
}

.tools .tool {
    border-bottom: 1px solid lightgray;
}

.tools #last-tool {
    border-bottom: none;
}

.tools .tool a {
    display: block;
    padding: 12px;
    transition: .2s;
    position: relative;
    border-radius: 8px 0 0 8px;
}

.tools .tool a:hover {
    background-color: #F5F3FE;
}

.tools .tool a:hover .text {
    transition: .3s;
    margin-right: 0;
    visibility: visible;
}

.tools .tool a:hover svg {
    color: #784AFF;
}

.tools .tool a .text {
    position: absolute;
    background-color: white;
    height: 90%;
    width: max-content;
    top: 5%;
    right: 150%;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    visibility: hidden;
    margin-right: -30px;
    transition: 0.1s;
}

.tools .tool a .text span {
    color: #784AFF;
    display: inline-block;
}

.tools .tool a .text i {
    position: absolute;
    font-size: 30px;
    right: -12px;
    top: 50%;
    color: white;
    transform: translateY(-50%);
}


.Integration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-top: 400px;
}

.Integration .robot {
    width: 50%;
}

.Integration .robot img {
    width: 90%;
}

.Integration .content {
    width: 50%;
}

.Integration .content h2 {
    font-size: 45px;
}

.Integration .content p {
    color: #616161;
    font-size: 18px;
    margin: 25px 0;
}

.Integration .content a {
    overflow: hidden;
    position: relative;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #086BF2;
    color: white;
}

.Integration .content a:hover {
    background-color: black;
}

.Integration .content a i {
    font-size: 16px;
}

.Integration .content a span {
    transition: .3s;
    font-size: 16px;
    display: inline-block;
    font-family: Arial;
}

.Integration .content a:hover .first {
    transform: translateY(-40px);
}

.Integration .content a .hover {
    visibility: hidden;
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-left: 40px;
}

.Integration .content a:hover .hover {
    visibility: visible;
    transform: translateY(-65px);
}

.insight {
    width: 85%;
    margin: 150px auto;
    text-align: center;
}

.insight h2 {
    font-size: 45px;
    margin: 20px 0;
}

.insight p {
    color: #616161;
    font-size: 18px;
}

.insight .items {
    margin: 30px 0;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.insight .items .item {
    border-radius: 20px;
    border: 1px solid #E5E5E6;
    margin: 15px 0;
    width: 32%;
    /* height: 240px; */
    text-align: left;
    padding: 25px;
    transition: .3s;
}

.insight .items .item:hover {
    border-color: #086BF2;
}

.insight .items .item i {
    font-size: 36px;
    color: #086BF2;
    margin: 15px 0;
    transition: .3s;
}

.insight .items .item i:hover {
    color: #0456C2;
}

.insight .items .item h3 {
    font-size: 25px;
    margin: 15px 0;
}

.insight .items .item p {
    color: #616161;
    font-size: 18px;
}

.insight .items .item a {
    color: #0456C2;
    padding-left: 0;
    margin-top: 15px;
}

.insight .items .item a:hover i {
    margin-left: 10px;
}

.insight .items .item a i{
    font-size: 16px;
    transition: .3s;
}

.trial {
    width: 85%;
    background-color: #086BF2;
    position: relative;
    margin: 150px auto;
    color: white;
    border-radius: 20px;
}

.trial .content {
    padding: 70px 60px;
}

.trial h2 {
    font-size: 45px;
}

.trial p {
    font-size: 18px;
    line-height: 28px;
    margin: 25px 0;
    width: 40%;
}

.trial a {
    overflow: hidden;
    position: relative;
    padding: 15px 20px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-family: Arial;
}

.trial a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.trial a i {
    font-size: 16px;
}

.trial a span {
    transition: .3s;
    font-size: 16px;
    display: inline-block;
}

.trial a:hover .first {
    transform: translateY(-40px);
}

.trial a .hover {
    visibility: hidden;
    position: absolute;
    bottom: -50px;
    left: 0;
    color: white;
    margin-left: 40px;
}

.trial a:hover .hover {
    visibility: visible;
    transform: translateY(-65px);
}

@keyframes trial-robot {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(10deg) scale(1);
    }
    100% {
        transform: rotate(10deg) scale(1.1);
    }
}

.trial .robot {
    position: absolute;
    right: 5%;
    top: -25%;
    text-align: right;
    animation: trial-robot 6s linear infinite alternate ;
}

.trial .robot img {
    width: 55%;
}

footer {
    background-color: #1F212B;
    margin-top: 200px;
    font-family: sans-serif;
}

footer .top {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 0;
    border-bottom: 1px solid #383942;
}

footer .top .logo{
    flex-grow: 2;
}

footer .top .logo img {
    width: 35%;
}

footer .top .logo p {
    color: #9E9E9E;
    margin-top: 20px;
}

footer .top .item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

footer .top .item h3 {
    color: white;
    margin-bottom: 15px;
    font-weight: 100;
}

footer .top .item a {
    padding: 10px 0;
    color: #9E9E9E;
    transition: .3s;
}

footer .top .item a:hover {
    color: #086BF2;
}

footer .bottom {
    width: 85%;
    margin: auto;
    color: #9E9E9E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

footer .bottom a {
    transition: .3s;
}

footer .bottom a:hover {
    color: #086BF2;
}